<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Town</title>
</head>
<body>
<h1>My Town</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>built</th>
        <th>creationDate</th>
        <th>title</th>
        <th>owner</th>
        <th>typeBuilding</th>
        <th>address</th>
        <th>floors</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form th:action="@{/create}" method="post">
            <td><input type="text" id="id" name="id"></td>
            <td><input type="text" id="built" name="built"></td>
            <td><input type="text" id="creationDate" name="creationDate"></td>
            <td><input type="text" id="title" name="title"></td>
            <td><input type="text" id="owner" name="owner"></td>
            <td><input type="text" id="typeBuilding" name="typeBuilding"></td>
            <td><input type="text" id="address" name="address"></td>
            <td><input type="text" id="floors" name="floors"></td>
            <td colspan="5">
                <button class="btn1" type="submit">Create</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>