<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Town</title>
</head>
<body>
<h1>My Town</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>built</th>
        <th>creationDate</th>
        <th>title</th>
        <th>owner</th>
        <th>typeBuilding</th>
        <th>address</th>
        <th>floors</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="building: ${building}">
        <form th:action="'/edit/' + ${building.getId}" method="post">
            <td th:text="${building.getId}"></td>
            <td><input th:value="${building.getBuilt}" type="text" id="built" name="built"></td>
            <td><input th:value="${building.getCreationDate}" type="text" id="creationDate" name="creationDate"></td>
            <td><input th:value="${building.getTitle}" type="text" id="title" name="title"></td>
            <td><input th:value="${building.getOwner}" type="text" id="owner" name="owner"></td>
            <td><input th:value="${building.getTypeBuilding}" type="text" id="typeBuilding" name="typeBuilding"></td>
            <td><input th:value="${building.getAddress}" type="text" id="address" name="address"></td>
            <td><input th:value="${building.getFloors}" type="text" id="floors" name="floors"></td>
            <td colspan="5">
                <button class="btn1" type="submit">Edit</button>
            </td>
        </form>
            <td>
                <form th:action="'/delete/' + ${building.getId}" method="post">
                    <input value="${building.getId}" hidden=>
                    <button class="btn1" type="submit">Delete</button>
                </form>
            </td>
    </tr>
    </tbody>
</table>
</body>
</html>