<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Институты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/applicant">Абитуриенты</a></li>
        <li><a href="/discipline">Дисциплины</a></li>
        <li><a href="/institute">Институты</a></li>
        <li><a href="/score">Результаты</a></li>
        <li><a href="/specialty">Специальности</a></li>
        <li><a href="/student">Студенты</a></li>
        <li><a href="/sql-query">Запросник</a></li>
    </ul>
</nav>
<h1>Институты</h1>
<form th:action="@{/institute/add}" method="post">
    <input type="text" name="name" placeholder="Название" required>
    <button type="submit">Добавить</button>
</form>
<table>
    <thead>
    <tr>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="institute : ${institutes}">
        <td th:text="${institute.name}"></td>
        <td>
            <form th:action="@{/institute/delete/{id}(id=${institute.id})}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/institute/' + ${institute.id}}">
                <button type="submit">Редактировать</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>