<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>My Town</h1>
    <p>Все здания в городе:</p>
    <form th:method="GET" th:action="@{/}" >
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>built</th>
                    <th>creationDate</th>
                    <th>title</th>
                    <th>owner</th>
                    <th>typeBuilding</th>
                    <th>address</th>
                    <th>floors</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="building: ${list}">
                    <td th:text="${building.getId}"></td>
                    <td th:text="${building.getBuilt}"></td>
                    <td th:text="${building.getCreationDate}"></td>
                    <td th:text="${building.getTitle}"></td>
                    <td th:text="${building.getOwner}"></td>
                    <td th:text="${building.getTypeBuilding}"></td>
                    <td th:text="${building.getAddress}"></td>
                    <td th:text="${building.getFloors}"></td>
                    <td><a th:href="@{edit/{id}(id=${building.getId})}"
                           class="button">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </form>
    <a th:href="@{/goCreate}">Добавить</a>
</body>
</html>