<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav>
    <ul>
        <li><a href="/applicant">Абитуриенты</a></li>
        <li><a href="/discipline">Дисциплины</a></li>
        <li><a href="/institute">Институты</a></li>
        <li><a href="/score">Результаты</a></li>
        <li><a href="/specialty">Специальности</a></li>
        <li><a href="/student">Студенты</a></li>
        <li><a href="/sql-query">Запросник</a></li>
    </ul>
</nav>
<h1>Enter your SQL query:</h1>
<form action="/execute-query" method="POST">
    <textarea name="sqlQuery" rows="5" cols="50"></textarea>
    <br>
    <input type="submit" value="Execute">
    <script>
        function updateData() {
            // Ваш код обновления данных здесь
            alert("Данные были успешно обновлены.");
        }
    </script>
    <button onclick="updateData()">UPDATE</button>
</form>
<br>
<h2>Query Results:</h2>
<table th:if="${queryResult != null}">
    <thead>
    <tr>
        <th th:each="column : ${columnHeaders.getColumns()}" th:text="${column}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${queryResult.rows}">
        <td th:each="cell : ${row}" th:text="${cell}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>